@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto:wght@400;500;700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #8cc461;
    font-family: Roboto;
}

/* header scorecard */

.header{
    max-width: 100%;
    width: 700px;
    border: 2px solid #fff;
    border-radius: 13px;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.heading{
    padding-left: 10px;
}
.heading p{
    font-size: 40px;
    font-weight: bold;  
    text-transform: uppercase;
}

.scorecard{
    display: flex;
    padding: 20px;
}
.computer-score{
    height: 92%;
    padding: 10px 18px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.computer-score p{
    color: #656565;
}

.computer-score span{
    color: #252525;
    font-weight: bold;
    font-size: 40px;
}

.player-score{
    height: 92%;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 15px;
    text-align: center;
}

.player-score p{
    color: #656565;
}

.player-score span{
    color: #252525;
    font-weight: bold;
    font-size: 40px;
}


/* Picked portion */

.picked{
    width: 100%;
    min-height: 69vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info{
    width: 700px;
    min-height: 10vh;
    font-size: 1.2rem;
    margin: 5rem 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.picked .info .user{
    margin-top: 14px;
    margin-left: -110px;
}
.picked .info .pc{
    margin-top: 14px;
    margin-right: -135px;
}

.user, .pc{
    opacity: 0;
    color: white;
} 

.option{
    max-width: 100%;
    width: 700px;
    min-height: 49vh;
    display: grid;
    place-content: center;
    position: relative;
    padding-top: 6%;
    margin-top: -90px;
}
.con{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 18px;
    cursor: pointer;
}
.computer{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 18px;
    display: none;
}
.sci-con{
    background: #BD00FF;
    right: 8rem;
    top: 3%;
}

.rock-con{
    background-color: #0074B6;
    left: 8rem;
    top: 3%;
}
.paper-con{
    background: #FFA943;
    left: 17.5rem;
    top: 68%;
}

.item{
    background-color: white;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    place-content: center;
}

/* buttons */
.buttonSection {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 30px;
	right: 30px;
    z-index: 10;
}
#next{
    padding: 8px 30px;
    border: 2px solid white;
    outline: none;
    background: transparent;
    font-size: 16px;
    letter-spacing: 3px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: none;
    position: relative;
    margin-top: -6px;

}
#next:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease;
}


/* Rule button */
.btn-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem 0.5rem 0;
}
.btn-rule{
    padding: 8px 30px;
    border: 2px solid white;
    outline: none;
    background: transparent;
    font-size: 16px;
    letter-spacing: 3px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    /* z-index: 99; */
}
.btn-rule:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease;
}

/* popup portion */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 10;
}

.popup {
    background-color: #004429;
    border: 6px solid #dcdcdc;
    border-radius: 12px;
    padding: 30px;
    width: 350px;
    text-align: left;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 80px;
    right: 20px;
}

.popup h2 {
    margin-top: 0;
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.popup ul {
    padding: 0;
    list-style: none;
}

.popup ul li {
    margin: 10px 0;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
}

.popup ul li::before {
    content: '\25A0';
    margin-right: 15px;
    font-size: 16px;
    color: yellow;
}

.close-button {
    font-family: Dangrek, cursive;
    background-color: red;
    line-height: 65px;
    color: white;
    font-size: 23px;
    font-weight: bold;
    border: 4px solid white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close-button:hover {
    background-color: darkred;
}


/* declaring portion */

.winArea{
    position: fixed;
    width: 100%;
    height: 100vh;
    color: white;
    display: grid;
    place-content: center;
    text-align: center;
    top: 0;
    display: none;
    top: 58px;
}
.winArea h1{
    padding-bottom: -1rem;
    font-size: 50px;
	text-transform: uppercase;
}
.winArea h2 {
	text-transform: uppercase;
	font-size: 25px;
	margin-top: 5px;
	letter-spacing: 2px;
}
/* green circles */

.winArea #youWin{
    margin-top: 16.8%;
    margin-left: 28.5%;    
}
.winArea #youLose{
    margin-top: 16.8%;
    margin-left: 59.3%;    
}

.winner {
	position: absolute;
	width: 220px;
	height: 220px;
	background-color: transparent;
	border: 25px solid #289a27;
	border-radius: 50%;
	z-index: -1;
	animation: winnerAnimation 0.8s alternate-reverse infinite;
    display: none;
}
.winner::after {
	content: "";
	position: absolute;
	display: block;
	border: 25px solid rgba(29, 168, 43, 0.79);
	top: -29.4%;
	left: -29.35%;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	animation: winnerAnimation 0.8s alternate-reverse infinite;
}
.winner::before {
	content: "";
	position: absolute;
	display: block;
	border: 25px solid rgba(46, 154, 37, 0.39);
	top: -44%;
	left: -44%;
	width: 270px;
	height: 270px;
	border-radius: 50%;
	animation: winnerAnimation 0.8s alternate-reverse infinite;
}

@keyframes winnerAnimation {
	0% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}

.playBtn{
    border-radius: 9px;
	background: #fff;
	color: #6b6b6b;
	width: 174px;
	height: 44px;
	flex-shrink: 0;
	border: none;
	outline: none;
	margin-top: 20px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	cursor: pointer;
    margin-left: 23px;
}

/* for moving the block to left  */
.shiftingLeft{
    left: 3.5rem;
    top: 25%;
}

.shiftingRight{
    left: 33rem;
    top: 25%;
}
